【本日の競馬予想】

中山9R
{{ info.race_name }}
{{ info.distance }}m ({{ info.race_field }}|{{ info.race_turn }})
賞金：{{ info.race_prize }}

━━━━━━━━━━━━━━━
 🔮 一位予想馬
 👑 {{ info.winner }}
━━━━━━━━━━━━━━━

▼ 出場馬
🐎 {{ info.horse1 }}
🐎 {{ info.horse2 }}
🐎 ...
